{% extends 'base.html.twig' %}

{% block title %} Ajout Partenaire!{% endblock %}

{% block body %}
<div class="container mt-5  py-5 class="bg-image" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0S7KmM85_vEtwc2k4aiABrLHwOfupxLFaWA&usqp=CAU')">
 <div class="card">
 <div class="card-header text-danger text-center">
  <h1> Ajouter Partenaire</h1>
 </div>
  <div class="card-body">
   {{form(form)}}
  </div>
</div>
</div>
{% endblock %}
